.quiz {
  border-bottom: 1px solid #dbdef0;
  width: 100%;
}

.question {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #293264;
  margin: 25px 0;
}

.answers {
  padding: 0;
  display: flex;
  flex-flow: wrap;
  margin: 0;
}
